// @media (max-width: 1600px) {
// 	.header { clip-path: url("#header_clip_1600"); }
// }

// @media (max-width: 1200px) {
// 	.header { clip-path: url("#header_clip_1200"); }


// }

// @media (min-width: 768px) and (max-width: 979px) {
// 	.header { clip-path: url("#header_clip_980"); }


// }
 
// @media (max-width: 767px) {
// 	.header { clip-path: url("#header_clip_768"); }


// }
 
// @media (max-width: 480px) {
// 	.header { clip-path: url("#header_clip_480"); }


// }

// @media (max-width: 320px) {
	



// }